/* Main CSS */
$base-color-900: hsl(210, 100%, 95%);
$base-color-800: hsl(209, 90%, 85%);
$base-color-700: hsl(208, 85%, 70%);
$base-color-600: hsl(207, 79%, 65%);
$base-color-500: hsl(206, 50%, 50%);
$base-color-400: hsl(205, 79%, 40%);
$base-color-300: hsl(204, 80%, 25%);
$base-color-200: hsl(203, 90%, 15%);
$base-color-100: hsl(202, 100%, 10%);
$base-dark: #384955;
$base-gray: #9BAEBC;
$secondary-color-900:hsl(153, 100%, 97%);
$secondary-color-800:hsl(153, 98%, 92%);
$secondary-color-700:hsl(153, 96%, 86%);
$secondary-color-600:hsl(153, 94%, 80%);
$secondary-color-500:hsl(153, 91%, 74%);
$secondary-color-400:hsl(155, 70%, 60%);
$secondary-color-300:hsl(155, 50%, 50%);
$secondary-color-200:hsl(153, 60%, 35%);
$secondary-color-100:hsl(153, 70%, 14%);

$desktop-width: 720px;

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important;
    scroll-behavior: smooth;
}

blockquote {
    border-left: $secondary-color-400 4px solid;
    padding:1.25rem;
    background-color: white;
    margin: 8px 0;
    font-style: italic;

    &::before {
        content: "\""
    }
    &::after {
        content: "\""
    }
}

label {
    display: block;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    resize: vertical;
}

/* Utility Classes */

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 0 15px;
}

.form-group {
    padding: 8px 0;
}

/* nav */

.nav-bar {
    width: 100%;
    height: 65px;
    background-color: $base-color-300;
}

.nav-logo {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;

    &:active {
        color: white;
    }

    & span {
        width: 60px;
    }

}

.nav-container {
    margin: 0 auto 0 auto;
    max-width: 960px;
    height: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.nav-img {
    height: 65px;
    object-fit: cover;
}

.nav-button-container {
    display: flex;
}

.nav-button {
    padding: 8px 10px;
    display: block;
    border-radius: 5px;
    margin: 0 5px;
    text-decoration: none;
    color: $secondary-color-500;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        background-color: $secondary-color-900;
    }
}


/* Landing Hero */

.landing-section {
    /* The image used */
    background-color: $base-color-500;
    background-image: linear-gradient(45deg, $base-color-500, rgba($base-color-500, 0.3)), url("../images/cabinentimage.jpg");
    background-size: cover;

    height: 680px;
    max-height: 90vh;

    display: grid;
    align-items: center;


    @include desktop {
        font-size: 1.5rem;
    }
}

.landing-main {
    padding: 2rem;

}

.landing-header {
    font-size: 2.5em;
    color: white;
    text-shadow: #384955 2px 2px 5px;
}

.landing-subheader {
    font-size: 1.5em;
    color: $base-dark;
}

.landing-more {
    position: relative;
    top: -2rem;
    color: white;
    text-align: center;
    text-decoration: none;
    align-self: end;

    &>* {
        display: block;
    }

    @include desktop {
        display: none;
    }
}

/* The animation code */
@keyframes pulse {
    from {
        margin: -4px
    }

    to {
        margin: -16px
    }
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    margin: -6px 0;
    animation: pulse 1s ease infinite alternate;
}


.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.section-header {
    font-size: 3rem;
    border-bottom: 4px solid $base-color-500;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
}

// Disorganized

.disorganized-section {
    background-color: change-color($color: $base-color-500, $lightness: 95%);
}

.disorganizedContainer {
    text-align: center;
    font-size: 1.25rem;

    & img {
        width: 90%;
        margin: 1rem;
        box-shadow: gray 4px 4px 14px;
    }
}

.disorganized-flex {
    padding: 2rem 0;
    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        & p:nth-of-type(1) {
            text-align: left;

            &::after {
                content: "You need Pouch Keepers!";
            }

        }

        & p:nth-of-type(2) {
            display: none;
        }
    }

}

//About points

.about-listpoints {
    margin: 2rem 0;
    text-align: center;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.3rem;
        text-align: left;
        ;
    }

    & img {
        max-width: 100%;
        object-fit: cover;
        box-shadow: gray 4px 4px 14px;
        margin-bottom: 2rem;
    }
}

.about-listpoints-list {
    margin-left: 25px;
    text-align: left;

    @include desktop {
        margin-left: 45px;
    }

    & li {
        margin: 6px 0;
    }
}

// Testimonials

.testimonials {
    background-color: $base-color-500;
    padding: 3rem 0;

    & .section-header {
        border-bottom-color: $secondary-color-500;
        color: white;
    }
}

.testimonials-grid {
    @include desktop {
        display:flex;    
        flex-wrap:wrap;
        column-gap:2rem;

        & blockquote {
            width:45%;
        }
    }
    
}

// Footer
.footer {
    background-color: $base-color-300;
    color: $base-color-800;

    & h3 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    & section {
        padding: 1rem 0;
    }

    &>.container {
        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

}

// Interested Section

.interested-section {
    background-color: change-color($color: $base-color-500, $lightness:94%);
    padding: 4rem 0;
    text-align: center;

    & .container {
        font-size: 2rem;
    }
}

/* Buttons */

.btn {
    display: inline-block;
    border: none;
    background-color: white;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: $base-color-500;
    }
}

.btn.btn-primary {
    background-color: $base-color-500;
    color: white;
    border: 1px solid $base-color-500;

    &:hover {
        background-color: white;
        color: rgb(97, 185, 236);
    }
}

.btn.btn-secondary {
    background-color: $secondary-color-500;
    color: $secondary-color-100;
    border: 1px solid $secondary-color-500;
    transition: 0.3s;

    &:hover {
        background-color: $secondary-color-900;
        color: $secondary-color-100;
        border: 1px solid change-color($color: $secondary-color-500, $lightness:50%);
        box-shadow: $secondary-color-500 0px 0px 12px;
    }
}