$spacing: (
    space-2xs: 0.25rem,
    space-xs: 0.5rem,
    space-sm: 0.75rem,
    space-md: 1rem,
    space-lg: 1.5rem,
    space-xl: 2rem,
    space-2xl: 3rem,
    space-3xl: 4rem,
    space-4xl: 6rem
);

:root {
@each $space, $i in $spacing {
        --#{$space}: #{$i};
    }
}

@each $space, $val in $spacing {

    $i: index(($spacing), ($space $val));

    .p-#{$i} {
        padding: $val;
    }

    .py-#{$i} {
        padding-top: $val;
        padding-bottom: $val;
    }

    .px-#{$i} {
        padding-left: $val;
        padding-right: $val;
    }

    .pt-#{$i} {
        padding-top: $val;
    }

    .pb-#{$i} {
        padding-bottom: $val;
    }

    .pl-#{$i} {
        padding-left: $val;
    }

    .pr-#{$i} {
        padding-right: $val;
    }

    .m-#{$i} {
        margin: $val;
    }

    .my-#{$i} {
        margin-top: $val;
        margin-bottom: $val;
    }

    .mx-#{$i} {
        margin-left: $val;
        margin-right: $val;
    }

    .mt-#{$i} {
        margin-top: $val;
    }

    .mb-#{$i} {
        margin-bottom: $val;
    }

    .ml-#{$i} {
        margin-left: $val;
    }

    .mr-#{$i} {
        margin-right: $val;
    }
}

$text-size: (
    text-2xs: 10px,
    text-xs: 12px,
    text-sm: 14px,
    text-md: 16px,
    text-lg: 18px,
    text-xl: 20px,
    text-2xl: 24px,
    text-3xl: 30px,
    text-4xl: 36px,
    text-5xl: 48px,
    text-6xl: 60px,
    text-7xl: 72px
);

:root {
    @each $size, $val in $text-size {
            --#{$size}: #{$val};
        }
}

@each $size, $val in $text-size {
    .#{$size} {
       font-size: #{$val}; 
    }
}